<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.title</title>
    <link href="~/assets/VirtualTourLibs/VictorialFallsToVictoriaFalls/jquery.pagepiling.css" rel="stylesheet" />
    <link href="~/assets/VirtualTourLibs/VictorialFallsToVictoriaFalls/examples.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/VirtualTourLibs/VictorialFallsToVictoriaFalls/jquery.pagepiling.min.js"></script>

    <script src="~/assets/js/jquery.backstretch.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#pagepiling').pagepiling({
                direction: 'horizontal',
                menu: '#menu',
                anchors: ['start',
                    'day1',
                    'day2',
                    'day3',
                    'day4',
                    'day5',
                    'day6',
                    'day7',
                    'day8',
                    'day9',
                    'day10',
                    'day11',
                ],
                sectionsColor: ['white',
                    '#ee005a',
                    '#2C3E50',
                    '#39C',
                    '#800080',
                    '#0000FF',
                    '#00FFFF',
                    '#00FF00',
                    '#FFFF00',
                    '#FF0000',
                    '#00FFFF',
                    '#000080',
                    '#ee005a',
                    '#2C3E50',
                    '#39C',
                    '#800080',
                    '#0000FF',
                    '#00FFFF',
                    '#00FF00',
                    '#FFFF00',
                    '#FF0000',
                    '#00FFFF',
                    '#000080',
                    '#FF00FF'],
                navigation: {
                    'position': 'right',
                    'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Pgae 4']
                },
                afterRender: function () {
                    $('#pp-nav').addClass('custom');
                },
                afterLoad: function (anchorLink, index) {
                    if (index > 1) {
                        $('#pp-nav').removeClass('custom');
                    } else {
                        $('#pp-nav').addClass('custom');
                    }
                }
            });

            $("#start").backstretch("/assets/VirtualTourLibs/Namibia2/Namibia2.png");
            $("#day1").backstretch("/assets/VirtualTourLibs/VictorialFallsToVictoriaFalls/vicfalls.gif");
            $("#day2").backstretch("/assets/VirtualTourLibs/namibia2/chobe.jpg");
            $("#day3").backstretch("/assets/VirtualTourLibs/namibia2/hippo.gif");
            $("#day4").backstretch("/assets/VirtualTourLibs/Namibia2/kap.png");
            $("#day5").backstretch("/assets/VirtualTourLibs/Namibia2/okovango.png");
            $("#day6").backstretch("/assets/VirtualTourLibs/Namibia2/sapopa.jpg");
            $("#day7").backstretch("/assets/VirtualTourLibs/Namibia2/sapopa.png");
            $("#day8").backstretch("/assets/VirtualTourLibs/Namibia2/etosha.png");
            $("#day9").backstretch("/assets/VirtualTourLibs/Namibia2/cheetah.gif");
            $("#day10").backstretch("/assets/VirtualTourLibs/Namibia2/Spitzkoppe.png");
            $("#day11").backstretch("/assets/VirtualTourLibs/Namibia2/day11.jpg");

        });
    </script>
    <style>
        #section1 img {
            margin: 20px 0;
            opacity: 0.7;
        }
        /* colors
         * --------------------------------------- */
        #colors2,
        #colors3 {
            position: absolute;
            height: 163px;
            width: 362px;
            z-index: 1;
            background-repeat: no-repeat;
            left: 0;
            margin: 0 auto;
            right: 0;
        }

        #colors2 {
            background-image: url(imgs/colors2.gif);
            top: 0;
        }

        #colors3 {
            background-image: url(imgs/colors3.gif);
            bottom: 0;
        }


        /* Overwriting fullPage.js tooltip color
        * --------------------------------------- */
        #pp-nav.custom .pp-tooltip {
            color: #AAA;
        }

        .bgdark {
            background: rgba(0,0,0,.4);
            padding: 10px !important;
            font-size: 20px !important;
            padding: 40px !important;
            text-align: left !important;
        }

            .bgdark h2 {
                font-size: 23px !important;
            }
    </style>

</head>
<body>
    <ul id="menu">
        <li data-menuanchor="start" class="active"><a href="#start">Start</a></li>
        <li data-menuanchor="day1"><a href="#day1">Day 1</a></li>
        <li data-menuanchor="day2"><a href="#day2">Day 2</a></li>
        <li data-menuanchor="day3"><a href="#day3">Day 3</a></li>
        <li data-menuanchor="day4"><a href="#day4">Day 4</a></li>
        <li data-menuanchor="day5"><a href="#day5">Day 5</a></li>
        <li data-menuanchor="day6"><a href="#day6">Day 6</a></li>
        <li data-menuanchor="day7"><a href="#day7">Day 7</a></li>
        <li data-menuanchor="day8"><a href="#day8">Day 8</a></li>
        <li data-menuanchor="day9"><a href="#day9">Day 9</a></li>
        <li data-menuanchor="day10"><a href="#day10">Day 10</a></li>
        <li data-menuanchor="day11"><a href="#day11">Day 11</a></li>
        <li><a href="/Home/VirtualTours">Exit Tour</a></li>
    </ul>


    <div id="pagepiling">

        <div class="section" id="start">
            <h1 style="background:rgba(0,0,0,.4);padding:40px!important;">Namibia 2</h1>
            <p style="background:rgba(0,0,0,.4);padding:10px!important;">Scroll To Begin Tour</p>
        </div>

        <div class="section" id="day1">


            <div class="bgdark">
                <h1>Victoria Falls</h1>
                View & walk the length of a Natural Wonder of the World-Victoria Falls-the ‘smoke that thunders’;visit a village and lunch with the locals

                <br />
                <br />
            </div>

        </div>

        <div class="section" id="day2">
            <div class="bgdark">
                <h1>
                    Victoria Falls To Chobe
                </h1>
                Wander the markets & handicrafts in the morning;cross the border to Botswana after an early lunch;free time in Kasane township before heading to the Thebe River lodgings.
                <br />

            </div>
        </div>

        <div class="section" id="day3">

            <div class="bgdark">
                <h1>Chobe National Park</h1>
                An exciting day full of up-close wildlife viewings and encounters;an early morning land safari game drive;afternoon water safari cruise on the Chobe River.
                <br />
            </div>

        </div>

        <div class="section" id="day4">

            <div class="bgdark">
                <h1>Caprivi Strip</h1>

                Enjoy the vast wetlands,riverine forests and masses of birdlife after we cross border to the Caprivi Strip in Namibia;visit a village,walk and talk with the villagers
                <br />
            </div>

        </div>

        <div class="section" id="day5">

            <div class="bgdark">
                <h1>Okavango Delta</h1>
                Early morning car ferry ride across the Kavango River back to Botswana,where we head to the northern reaches of the Okavango Delta;explore the watery wilderness and landscape of the delta in a mokoro (dug-out canoe);enjoy the nightlife and sounds of the delta staying overnight on a houseboat.
                <br />
            </div>

        </div>

        <div class="section" id="day6">

            <div class="bgdark">
                <h1>Sepopa</h1>
                We make our way out of the Delta and stay in one of the camps on the banks of Okavango river this is our last night in Botswana.
                <br />
            </div>

        </div>

        <div class="section" id="day7">

            <div class="bgdark">
                <h1>Etosha National Park<br />East</h1>
                Namibia’s premier nature and wildlife reserve where waterholes set amid the dry salt land attract vast species of animals and birds,this is game viewing at its best;enjoy an afternoon game drive in a specialised safari jeep.
                <br />
            </div>

        </div>

        <div class="section" id="day8">

            <div class="bgdark">
                <h1>Etosha National Park<br />West</h1>
                A full day game drive as you travel through the national park from the east to the west side encountering herds of wildlife and birdlife-an unforgettable day;sit and relax by the large waterhole at the main resort camp late afternoon until sunset and marvel at all the animals you will see.
                <br />
            </div>

        </div>


        <div class="section" id="day9">

            <div class="bgdark">
                <h1>Cheetah Park</h1>
                A private farm in the countryside where you get up close to young cheetahs in residence-a unique experience and a great photo opportunity;enjoy a cheetah game drive through the farm sanctuary.
                <br />
            </div>

        </div>


        <div class="section" id="day10">

            <div class="bgdark">
                <h1>Spitzkoppe</h1>
                Experience a Himba village in the morning and discover the unique lifestyle of Himba people;continue driving through the stunning scenic Damaraland arriving at the ‘Matterhorn of Namibia’-Spitzkoppe;watch the setting sun illuminate the sacred rocks.
                <br />
            </div>

        </div>

        <div class="section" id="day11">

            <div class="bgdark">
                <h1>Spitzkoppe-Windhoek</h1>
                Enjoy a morning guided bush walk through this spiritual area of the Bushman and discover ancient rock paintings;after an early lunch we make our way to Windhoek, the capital of Namibia. The tour finishes.
                <br />
            </div>

        </div>


        <div class="section" id="day7">

            <div class="bgdark">
                <h1>Tour ends</h1>
                Tour ends with transfer to the airport
                <br />
            </div>

        </div>


    </div>
</body>
</html>
