@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/accomodation_card.png" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Accomodation</h1>
            Accommodation in Africa can vary from bush campsites in the middle of the African wilderness to fully luxurious hotels and lodges. Our travel and tour safaris of an adventurous nature, so whether you choose a camping safari or the accommodated option, the accommodation and facilities used during your trip will reflect this.
          
        </div>
    </div>
</div>
