@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/chalet_card.jpg" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">

            <h1>Camp or Accommodated - What is the difference?</h1>

            Our accommodated tours fill the gap between a camping experience and an expensive lodge tour while our camping tours allow you to have a truly African experience. On all of our tours (excluding the Cape Town to Victoria Falls and sections) we have both camping and accommodated guests travelling together. All meals are prepared at the truck, you have the same guides and the travel times are all the same so that literally is the only decision that you have to make, a bed or a tent.


        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Acommodated Tour</h1>
            On accommodated tours, you can expect 2-4 stars with twin /double accommodation and the majority of it is unsuited. In some places we also make use of permanent safari tents which are considered “accommodation”. The vehicle will remain in the area where the campers are. On camping tours, single supplements are optional. However on accommodated tours, single supplements are compulsory if you are travelling on your own.

        </div>
    </div>
</div>
