@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/camping_card.jpg" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Camping Trips</h1>
            On all of our camping trips we use two man dome tents with mosquito nets over the door and window areas, a sewn in ground sheet and a separate flysheet, which you share with fellow traveller. We also provide camping mattresses. If you are camping novice, rest assured, the tents are very easy to put up and your trip leader will give you a demonstration
            

            You will have to provide your own sleeping bag and remember, a small pillow is always great for comfort! There is also the option to camp under the stars instead of in your tent on some occasions, just check with your trip leader to see when it is possible to do so. There are few opportunities to upgrade to a dorm bed or single/double room along the way. Your trip leader will let you know where these opportunities are available and can advice you on the costs involved as you will have to pay the difference between the price and the price of the dorm/room. Tents have a rain cover that is designed to aid the flow of water from the tent sides to the ground. These are really effective but please keep in mind that when camping in the rain one can expect some dampness or the occasional leak. Our tents are maintained regularly to avoid leaks and each vehicle is equipped with a couple of spares to swap out any tents that may be damaged. Bear in mind many of the campsites in Africa can be basic and have great rustic under African skies’ feel. Campsites in Southern Africa generally have better facilities than their East African counterparts and almost all campsites have a facility to wash some laundry. Some have flush toilets, some don’t. Some have a vibey bar, some don’t. Most have electricity points to charge your camera’s batteries. Some nights we may bush camp, this means you are camping without ablution facilities and not at a built up campsite but being under African skies surrounded by her sounds makes this all worthwhile.

        </div>
    </div>
</div>