@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/camping_card2.jpg" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">

            <h1>Camp or Accommodated - What is the difference?</h1>
            
            Our accommodated tours fill the gap between a camping experience and an expensive lodge tour while our camping tours allow you to have a truly African experience. On all of our tours (excluding the Cape Town to Victoria Falls and sections) we have both camping and accommodated guests travelling together. All meals are prepared at the truck, you have the same guides and the travel times are all the same so that literally is the only decision that you have to make, a bed or a tent.


        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Camping</h1>
            Camping gives you the freedom to make your own home every evening. We provide you with heavy duty canvas dome tents which are standing heights (unless you are over six feet) and approximately 2.5 x 2.5 m across the base. The tents are easy to put up and have flexible self supporting poles and there are no unnecessary pegs to fight with. There is a flysheet provided for rainy weather and built in mosquito net. We also provide everyone with a sleeping mattress.

        </div>
    </div>
</div>
