@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/day_tour_card.jpg" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">

            <h1>Day Tours</h1>

          
            Africaconect also offers a carefully selected list of day tours in and around Botswana, Zambia, Namibia and Zimbabwe



        </div>
    </div>
</div>

