@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/food_card.jpg" />
</div>


<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Food</h1>
            On our camping trips most meals are provided and prepared by the Safari Cook. Passengers are divided into groups and assist in the general camp duties on rota systems. One of these duties is assisting with the meal preparation. Meals and menus vary as food is purchased en-route and is subject to produce that is available seasonally in the areas we travel through. As we support the local communities along the way, fresh produce is mostly purchased direct from the producer or local grower and therefore has an organic appearance.  Our safari cooks are able to offer a wide variety of menu’s with the ingredients available, even if produce on offer is not of the same selection as what you may be used to back home. The breakfast spread consists of bread (toast when time allows), spreads and cereals with a hot breakfast every few days. Lunches are mostly prepared en-route with a supply of build your own Sandwich ingredients available. Dinners are cooked in the evenings on arrival at the campsite. A wide array of dinner menus are on offer during your safari, consisting of curries, stews, pastas BBQ’s and even roasts! As the meals are prepared fresh each day, we are able to cater to travellers who are vegetarian, vegan or who suffer from certain food allergies. We do however ask these travellers to keep an open mind I this regard, as specialist foods may be limited or prohibitively expensive. For this reason, we may ask that these travellers to bring along vitamin supplement, and liaise with their cook during the trip to ensure they receive sufficient and satisfying.
            On our accommodated safaris, breakfast is provided daily by the accommodation establishments. Where lunch is provided, this is done en-route and consist of build your own sandwiches. Where diners are provided, these are cooked on the campfire and offer a traditional taste of the African menu. Where food is not provided, travellers have the option to select a meal from a restaurant/s available in the area.

        </div>
    </div>
</div>
