@{ Layout = "_Layout";}

<link href="~/assets/css/galleryImages.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/libs/masonry/default.css." />
<link rel="stylesheet" type="text/css" href="~/assets/libs/masonry/component.css" />
<script src="~/assets/libs/masonry/modernizr.custom.js"></script>
<link href="~/assets/libs/lightGallery/css/lightgallery.css" rel="stylesheet" />


<div class="container">
    <ul class="grid effect-2 gallery" id="grid">
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal1.png'><a href='~/gall/gal1.png'><img src='~/gall/gal1.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal2.png'><a href='~/gall/gal2.png'><img src='~/gall/gal2.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal3.png'><a href='~/gall/gal3.png'><img src='~/gall/gal3.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal4.png'><a href='~/gall/gal4.png'><img src='~/gall/gal4.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal5.png'><a href='~/gall/gal5.png'><img src='~/gall/gal5.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal6.png'><a href='~/gall/gal6.png'><img src='~/gall/gal6.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal8.png'><a href='~/gall/gal8.png'><img src='~/gall/gal8.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal9.png'><a href='~/gall/gal9.png'><img src='~/gall/gal9.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal10.png'><a href='~/gall/gal10.png'><img src='~/gall/gal10.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal11.png'><a href='~/gall/gal11.png'><img src='~/gall/gal11.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal12.png'><a href='~/gall/gal12.png'><img src='~/gall/gal12.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal13.png'><a href='~/gall/gal13.png'><img src='~/gall/gal13.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal14.png'><a href='~/gall/gal14.png'><img src='~/gall/gal14.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal15.png'><a href='~/gall/gal15.png'><img src='~/gall/gal15.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal17.png'><a href='~/gall/gal17.png'><img src='~/gall/gal17.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal18.png'><a href='~/gall/gal18.png'><img src='~/gall/gal18.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal19.png'><a href='~/gall/gal19.png'><img src='~/gall/gal19.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal20.png'><a href='~/gall/gal20.png'><img src='~/gall/gal20.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal21.png'><a href='~/gall/gal21.png'><img src='~/gall/gal21.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal22.png'><a href='~/gall/gal22.png'><img src='~/gall/gal22.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal23.png'><a href='~/gall/gal23.png'><img src='~/gall/gal23.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal24.png'><a href='~/gall/gal24.png'><img src='~/gall/gal24.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal25.png'><a href='~/gall/gal25.png'><img src='~/gall/gal25.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal26.png'><a href='~/gall/gal26.png'><img src='~/gall/gal26.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal27.png'><a href='~/gall/gal27.png'><img src='~/gall/gal27.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal28.png'><a href='~/gall/gal28.png'><img src='~/gall/gal28.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal29.png'><a href='~/gall/gal29.png'><img src='~/gall/gal29.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal30.png'><a href='~/gall/gal30.png'><img src='~/gall/gal30.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal31.png'><a href='~/gall/gal31.png'><img src='~/gall/gal31.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal32.png'><a href='~/gall/gal32.png'><img src='~/gall/gal32.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal33.png'><a href='~/gall/gal33.png'><img src='~/gall/gal33.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal34.png'><a href='~/gall/gal34.png'><img src='~/gall/gal34.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal35.png'><a href='~/gall/gal35.png'><img src='~/gall/gal35.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal36.png'><a href='~/gall/gal36.png'><img src='~/gall/gal36.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal37.png'><a href='~/gall/gal37.png'><img src='~/gall/gal37.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal38.png'><a href='~/gall/gal38.png'><img src='~/gall/gal38.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal39.png'><a href='~/gall/gal39.png'><img src='~/gall/gal39.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal40.png'><a href='~/gall/gal40.png'><img src='~/gall/gal40.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal41.png'><a href='~/gall/gal41.png'><img src='~/gall/gal41.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal42.png'><a href='~/gall/gal42.png'><img src='~/gall/gal42.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal43.png'><a href='~/gall/gal43.png'><img src='~/gall/gal43.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal44.png'><a href='~/gall/gal44.png'><img src='~/gall/gal44.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal45.png'><a href='~/gall/gal45.png'><img src='~/gall/gal45.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal46.png'><a href='~/gall/gal46.png'><img src='~/gall/gal46.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal47.png'><a href='~/gall/gal47.png'><img src='~/gall/gal47.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal48.png'><a href='~/gall/gal48.png'><img src='~/gall/gal48.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal49.png'><a href='~/gall/gal49.png'><img src='~/gall/gal49.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal50.png'><a href='~/gall/gal50.png'><img src='~/gall/gal50.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal51.png'><a href='~/gall/gal51.png'><img src='~/gall/gal51.png' alt='' title='' /></a></li>
        @*<li class='aos-item' data-aos='fade-in' data-src='/gall/gal52.png'><a href='~/gall/gal52.png'><img src='~/gall/gal52.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal53.png'><a href='~/gall/gal53.png'><img src='~/gall/gal53.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal54.png'><a href='~/gall/gal54.png'><img src='~/gall/gal54.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal55.png'><a href='~/gall/gal55.png'><img src='~/gall/gal55.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal56.png'><a href='~/gall/gal56.png'><img src='~/gall/gal56.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal57.png'><a href='~/gall/gal57.png'><img src='~/gall/gal57.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal58.png'><a href='~/gall/gal58.png'><img src='~/gall/gal58.png' alt='' title='' /></a></li>
            <li class='aos-item' data-aos='fade-in' data-src='/gall/gal59.png'><a href='~/gall/gal59.png'><img src='~/gall/gal59.png' alt='' title='' /></a></li>*@
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal60.png'><a href='~/gall/gal60.png'><img src='~/gall/gal60.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal61.png'><a href='~/gall/gal61.png'><img src='~/gall/gal61.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal62.png'><a href='~/gall/gal62.png'><img src='~/gall/gal62.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal63.png'><a href='~/gall/gal63.png'><img src='~/gall/gal63.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal64.png'><a href='~/gall/gal64.png'><img src='~/gall/gal64.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal65.png'><a href='~/gall/gal65.png'><img src='~/gall/gal65.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal66.png'><a href='~/gall/gal66.png'><img src='~/gall/gal66.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal67.png'><a href='~/gall/gal67.png'><img src='~/gall/gal67.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal68.png'><a href='~/gall/gal68.png'><img src='~/gall/gal68.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal69.png'><a href='~/gall/gal69.png'><img src='~/gall/gal69.png' alt='' title='' /></a></li>
        <li class='aos-item' data-aos='fade-in' data-src='/gall/gal70.png'><a href='~/gall/gal70.png'><img src='~/gall/gal70.png' alt='' title='' /></a></li>
    </ul>
</div>



<script src="~/assets/libs/masonry/masonry.pkgd.min.js"></script>
<script src="~/assets/libs/masonry/imagesloaded.js"></script>
<script src="~/assets/libs/masonry/classie.js"></script>
<script src="~/assets/libs/masonry/AnimOnScroll.js"></script>

<script src="~/assets/libs/lightGallery/js/picturefill.min.js"></script>
<script src="~/assets/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="~/assets/libs/lightGallery/js/jquery.mousewheel.min.js"></script>


<script>

    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });

    $(document).ready(function () {
        $('#grid').lightGallery();
    });



</script>


