@{ Layout = "_Layout";}
<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/traveling_card.jpg" />
</div>


<br />
<br />
<br />


<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">
            <h1>Life On The Road</h1>
            Each vehicle carries everything needed to be completely self sufficient. It has a fully equipped kitchen including food, cutlery, pots and pans and a gas stove. All the day to day chores such as cleaning, washing up checking security and helping the safari cook shop and prepare meals are shared amongst all the passengers. But, there’s still plenty of time for relaxation and sightseeing and itineraries built in chill out time, wildlife spotting and the various activities on offer. Along the way, there are also opportunities to upgrade to a room for the night and eat out at a local restaurant as a treat. Our camping trips spend the night in a secure campsite every night. There are a handful of campsites that may not have a shower or a beer available, though most have running water, whether it is hot or cold, respectively is another matter! Sometimes conditions can be challenging. It may be dusty or rainy, it can get exceedingly hot or very cold, come prepared for the respective season you’re travelling in and you will little to worry about.
            Africa is a vast continent and distances between the highlights we visit can be far apart. Some of the drives will be long and there are a few patches where the roads range from lightly bumpy to almost impassable. Long driving distances usually require an early start, so expect to marvel at an array of breathtaking African sunrises during your journey.
            There may be a few hiccups in the itinerary when a bridge is washed away or there is a mechanical emergency. But none of these will trip if you approach them with the flexible attitude and a good sense of humour.
           
        </div>
    </div>
</div>
