@{ Layout = "_Layout";}

<style>
    .fimage {
        height: 400px !important;
        width: 100% !important;
    }

        .fimage img {
            object-fit: cover !important;
            height: 100% !important;
            width: 100% !important;
        }
</style>



<div class="fimage">
    <img src="~/assets/img/smallGroup_tours_card.jpg" />
</div>


<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 summary_text">

            <h1>Small Group Tours</h1>

            Africaconect is proud to be one of the few adventure tour operators to offer a “business class” option to our already established and trusted variety of camping and accommodated tours.


        </div>
    </div>
</div>

