
@{
    Layout = "_Layout";
}



<div class="container">
    <div class="row" style="min-height:450px!important;">
        <div class="col-md-12" style="color:#fff;font-size:40px;padding:20px;">
            Thank you for subscribing, you will recieve the latest news, updates, and special offers
        </div>
    </div>
</div>

<script>
    $("#mpage").backstretch("/assets/img/camping_wallpaper.jpg");
</script>
