@{Layout = "_Layout";}

<link href="~/assets/css/cards.css" rel="stylesheet" />

<style>

    iframe {
        width: 100% !important;
        height: 400px !important;
    }

    .jus {
        text-align: justify !important;
    }

    .card_right__review p {
        max-height: 140px !important;
        overflow-y: hidden !important;
        text-overflow: ellipsis !important;
    }
</style>


<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/vicfalls.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (VICTORIA FALLS)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            It is one of the seven natural wonders of the world.
                            As well as a UNESCO world heritage site. It is about 1300km
                            downstream from the source of the Zambezi River in the Kalene hills.
                            Different parts called Devil’s Cataract (90m), main falls (95m),Rainbow falls (108m)
                            and the Eastern cataract (107) from the whole 1.7 km stretch of the fall.
                            It is an amazing must see feature, no wonder why David Livingstone said
                            “must have been gazed by the angels in their flight” When he saw the falls
                            for the first time in November 1855...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalvicfalls">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>


@*hwange*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/HWANGE.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (HWANGE NATIONAL PARK)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            It is Zimbabwe’s biggest national park with a total area of about
                            14651 square km which is about the size of Belgium It was declared a
                            game reserve in 1928 and then a national park in 1961...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalhwange">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*great zimbabwe*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/greate_zimbabwe.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (THE GREAT ZIMBABWE)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            The Great Zimbabwe ruins, now a UNESCO world heritage is evident of a
                            burgeoning African civilisation which flourished long before the arrival of white settlers.
                            It was home to more than 2000 Shona speaking people of the Rozvi clan 12th to 15th centuries.
                            It is an enchanting place, redolent with history even if
                            the history has been misinterpreted...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalgreatzim">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>



@*EASTERN HIGHLANDS*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/easternhighlands.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (THE EASTERN HIGHLANDS)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Running some 300 km from north to south along Zimbabwe’s eastern border with Mozambique, the eastern highlands region beautiful landscapes of rolling hills and rugged mountains with breathe taking valleys, waterfalls and rivers. With its refreshing mountain climate, the core regions of Vumba, Chimanimani and Nyanga are popular tourist retreats...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modaleasternhighlands">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*kariba*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/kariba_dam.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (KARIBA DAM)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Kariba Dam
                            It was created by the construction of the Kariba dam wall which was completed in 1958. It is the biggest manmade lake in Africa stretching for about 258km and 40km at its widest point. The dam wall itself is a magnificent piece of architecture. Things to do include boat cruising, game drives and fishing. Hotels , lodges, house boats and campsites provide accommodation to visitors. Nearest airport – (HRE) 365km.
                            ..
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalkariba">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>




@*matopos*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/matopos.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (MATOPOS NATIONAL PARK)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            It is a UNESCO world heritage site covering about 424 square km.
                            It was established in 1926 hence it is the oldest national park in the country.
                            The park’s distinctive rock formation is unique and inspiring...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalmatopos">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*mana pools*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/mana_pools.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (MANA POOLS)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Being a UNESCO world heritage site and a wildlife conversation area, Mana pools is very pools are a very popular for close encounters with big game. It is situated downstream from Kariba on the southern banks of the Zambezi River. Major highlands of the area are abundant game hence game drives, canoeing and walking safaris are the main activity in the area...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalmanapools">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>






@*gonaz*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/gonaz.jpg" />
            </div>
            <div class="card_right">
                <h1>ZIMBABWE (GONAREZHOU)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            It is the second largest in Zimbabwe after Hwange. It was established in 1925 and covers 5063 square km. It forms part of the Great Limpopo Tran frontier Park together with Kruger National Park of South Africa and Limpopo National Park of Mozambique. It is well known for the big herds of elephants and big baobab trees...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalgonaz">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*kasane*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/kasane.jpg" />
            </div>
            <div class="card_right">
                <h1>BOTSWANA (KASANE)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Kasane is a town in the northeastern corner of Botswana, near the borders with Namibia, Zambia and Zimbabwe. It's the gateway to Chobe National Park, known for the herds of elephants which converge on the Chobe River in the dry season. Caracal Biodiversity Center The Chobe Crocodile Farm is nearby. East of town, the Kazungula Ferry crosses the Zambezi River, shelters rescued...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalkasane">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>



@*maun*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/maun.jpg" />
            </div>
            <div class="card_right">
                <h1>BOTSWANA (MAUN)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Maun is a town on the Thamalakane River in northern Botswana. It's the jumping-off point for the vast inland Okavango Delta, which becomes a lush wildlife habitat during the seasonal floods. In the delta, safari camps dot the Moremi Game Reserve, which is home to hippos, lions and rhinos. In the town...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalmaun">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*ghanzi*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/ghanzi.jpg" />
            </div>
            <div class="card_right">
                <h1>BOTSWANA (GHANZI)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Ghanzi is a stop over point for travelers wishing to visit the Okavango Delta; there are many lodges in the area and three filling stations. It is the only available fill-up point between Kang and Maun, which is about 500 km, if one are travelling to the Okavango Delta. There is one hotel in Ghanzi town, the Kalahari Arms Hotel which offers accommodation and has a restaurant and bar open to non-residents...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalghanzi">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>


@*nata*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/nata.jpg" />
            </div>
            <div class="card_right">
                <h1>BOTSWANA (NATA)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Nata is a village in Central District of Botswana. It is located in the northern part of the district, and is served by Nata Airport. This area incorporates a multitude of salt pans and vast grass plains dotted by palm islands and forms the Great Makgadikagidi which comprise the largest area of salt pans in the world covering some 37 000 sq km in overall extent...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalnata">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*sepupa*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/SEPOPA.jpg" />
            </div>
            <div class="card_right">
                <h1>BOTSWANA (SEPUPA)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Sepupa Swamp Stop Rest Camp is a camp site situated on the banks of the main Okavango River, just outside the village of Sepupa in Botswana. Swamp Stop is primarily a camp site where hosts welcome the self-drive / do-it-yourself camper / traveller / overlander. The camp do offer comfortable accommodation (not self-catering) in fixed twin tents with bedding and several river- and garden-facing chalets...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalsepupa">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>




@*etosha*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/ETOSHA.jpg" />
            </div>
            <div class="card_right">
                <h1>NAMIBIA (ETOSHA)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Etosha National Park is a national park in northwestern Namibia. The salt pans are the most noticeable geological features in the Etosha national park. The main depression covers an area of about 5,000 square kilometres (1,900 sq mi), and is roughly 130 km (81 mi) long and as wide as 50 km (31 mi) places...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalEtosha">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*SPITZKOPPE*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/SPITZKOPPE.jpg" />
            </div>
            <div class="card_right">
                <h1>NAMIBIA (SPITZKOPPE)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            The Spitzkoppe, is a group of  bald granite peaks or inselbergs located between Usakos and Swakopmund in the Namib desert of Namibia.. Spitzkoppe birdlife is surprisingly rich for such a remote area, and a large number of species can be seen from the Namibia endemic Herero chat, to Ruppell's korhaan...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalSPITZKOPPE">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>




@*cheetah farm*@
<div class="row" style="margin-right:17px!important;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card_">
            <div class="card_left">
                <img src="~/assets/img/cheetahfarm.jpg" />
            </div>
            <div class="card_right">
                <h1>NAMIBIA (CHEETAH FARM)</h1>
                <div class="card_right__details">

                    <div class="card_right__review">
                        <p>
                            Otjitotongwe Cheetah Guestfarm is a personal guestfarm that focuses on interaction with tame and wild cheetahs. 5 bungalows and several activities are offered. Guests will enjoy game drives, bird watching, hiking trails and of course cheetah programs like feeding tours, etc...
                        </p>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modalcheetahfarm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modals*@

@*modal cheetah farm*@
<div class="modal" id="modalcheetahfarm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">NAMIBIA (CHEETAH FARM)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15033.960785887895!2d15.06969!3d-19.60633!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x428d31ce1e5cdb6e!2sOtjitotongwe+Cheetah+Guestfarm!5e0!3m2!1sen!2sng!4v1544781556634"
                                frameborder="0"
                                style="border:0;width:100%!important;height:400px!important;" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Otjitotongwe Cheetah Guestfarm is a personal guestfarm that focuses on interaction with tame and wild cheetahs. 5 bungalows and several activities are offered. Guests will enjoy game drives, bird watching, hiking trails and of course cheetah programs like feeding tours, etc.
                        <br />
                        <hr />
                        Simple bungalows, plus an outdoor pool, on a remote property featuring bird- & cheetah-watching.
                        <br />
                        <b>Address:</b> Farm Sendeling, Kamanjab, Namibia, Namibia
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal SPITZKOPPE*@
<div class="modal" id="modalSPITZKOPPE">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">NAMIBIA (SPITZKOPPE)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29630.80929336142!2d15.176657335372285!3d-21.824680886745753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1b8a066d6edda3c7%3A0xd9bc943945a7a0db!2sSpitzkoppe!5e0!3m2!1sen!2sng!4v1544781843173"
                                frameborder="0"
                                style="border:0;width:100%!important;height:400px!important;" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        The Spitzkoppe, is a group of
                        bald granite peaks or inselbergs located
                        between Usakos and Swakopmund in the Namib desert of Namibia. Spitzkoppe birdlife is
                        surprisingly rich for such a remote area, and a large number of
                        species can be seen from the Namibia endemic Herero chat, to Ruppell's korhaan,

                        <img src="~/assets/img/ruppellsKoran.jpg" style="clear:both;height:100px;width:100px!important" />
                        <b>Fig 1: Ruppells Korhaan</b><br />
                        white-tailed shrike, Monteiro's hornbill, Stark's lark, lark-like bunting,
                        Namaqua sandgrouse, yellow-bellied eremomela, chestnut-vented tit-babbler,
                        bokmakierie, lanner falcon, peregrine falcon, augur buzzard, greater kestrel,
                        martial eagle, African hawk-eagle and black-chested snake-eagle.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal Etosha*@
<div class="modal" id="modalEtosha">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">NAMIBIA (ETOSHA)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15102.837044855562!2d16.3293197!3d-18.8555909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ada1fa25e0603c0!2sEtosha+National+Park!5e0!3m2!1sen!2sng!4v1544782681507"
                                frameborder="0"
                                style="border:0;width:100%!important;height:400px!important;" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Etosha National Park is a national park in northwestern Namibia. The salt pans are the most noticeable geological features in the Etosha national park. The main depression covers an area of about 5,000 square kilometres (1,900 sq mi), and is roughly 130 km (81 mi) long and as wide as 50 km (31 mi) places. The hypersaline conditions of the pan limit the species that can permanently inhabit the pan itself; occurrences of extremophile micro-organisms are present, which species can tolerate the hypersaline conditions. The salt pan is usually dry, but fills with water briefly in the summer, when it attracts pelicans and flamingos in particular.
                        In the dry season, winds blowing across the salt pan pick up saline dust and carry it across the country and out over the southern Atlantic. This salt enrichment provides minerals to the soil downwind of the pan on which some wildlife depends, though the salinity also creates challenges to farming.

                        <br />
                        <hr />
                        <br />
                        <b>Address:</b> Namibia<br />
                        <b>Area:</b> 22,270 km²<br />
                        <b>Established:</b> 22 March 1907<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modal sepupa farm*@
<div class="modal" id="modalsepupa">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BOTSWANA (SEPUPA)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30226.62256799242!2d22.154917626323172!3d-18.738888586048486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1bfd0d8052862903%3A0x8f03764f66677c3d!2sSepupa%2C+Botswana!5e0!3m2!1sen!2sng!4v1544783402953" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Sepupa Swamp Stop Rest Camp is a camp site situated on the banks of the main Okavango River, just outside the village of Sepupa in Botswana. Swamp Stop is primarily a camp site where hosts welcome the self-drive / do-it-yourself camper / traveller / overlander. The camp do offer comfortable accommodation (not self-catering) in fixed twin tents with bedding and several river- and garden-facing chalets. Camp has recently acquired mains electricity and hope to eventually have a power point in each camp site.
                        Sepupa Swamp Stop Rest Camp offers a fully stocked bar, evening meal & full breakfast (if booked in advance), bar snacks are also available throughout the day. Two swimming pools and a large ablution block, to make your stay both enjoyable & comfortable.
                        Whilst camp staff do not offer mokoro trails direct from our camp, they can transfer you and your party to Seronga + - 90 minutes by motor boat where you can deal direct with the Umvuvu Rest Camp, for the true mokoro trail experience. Tsodilo Hills, famous for their bushman paintings are approximately 60 km from Sepupa Swamp Stop Rest Camp, easily accessible for either a daytrip or overnight stay.
                        Great fishing at certain times of the year, Tiger, Bream & Barbel the most common species, or just enjoy a day on the river, with a picnic lunch on an island, the choice is yours.
                        Bird watching is exceptional near Sepupa Swamp Stop Rest Camp but unfortunately there is no large game. Hippos, crocs and Sitatunga are frequently spotted on a boat trips and at certain times of the year.
                        <br />
                        <hr />
                        <br />
                        <b>Weather:</b> 35°C, Wind NE at 19 km/h, 20% Humidity
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modal nata*@
<div class="modal" id="modalnata">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BOTSWANA (NATA)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59907.34251040008!2d26.141881331421185!3d-20.208638230649346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x194d3cf14ca040d7%3A0xb7eceda342872ba6!2sNata%2C+Botswana!5e0!3m2!1sen!2sng!4v1544783710245" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Nata is a village in Central District of Botswana. It is located in the northern part of the district, and is served by Nata Airport. This area incorporates a multitude of salt pans and vast grass plains dotted by palm islands and forms the Great Makgadikagidi which comprise the largest area of salt pans in the world covering some 37 000 sq km in overall extent. It is the last vestiges of Africa’s largest inland sea and exudes an atmosphere of antiquity and mystery.
                        The Nata River delta feeds the Sua Pan in the Nata sanctuary and forms the breeding ground for a host of water birds including pelicans and flamingo in their thousands, transforming the shore line into a pink haze blending into the western sky. Nata Lodge offers guided tours in open safari vehicles into the sanctuary, not to be missed
                        <br />
                        <hr />
                        <br />
                        <b>Weather:</b> 34°C, Wind E at 23 km/h, 21% Humidity<br />
                        <b>Number of airports: 1</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal Ghanzi*@
<div class="modal" id="modalghanzi">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BOTSWANA (GHANZI)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29657.329545068358!2d21.627316279421308!3d-21.696269730983918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1c00eff24a719dab%3A0x977800ecbfa636af!2sGhanzi%2C+Botswana!5e0!3m2!1sen!2sng!4v1544784017194" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Ghanzi is a stop over point for travelers wishing to visit the Okavango Delta; there are many lodges in the area and three filling stations. It is the only available fill-up point between Kang and Maun, which is about 500 km, if one are travelling to the Okavango Delta. There is one hotel in Ghanzi town, the Kalahari Arms Hotel which offers accommodation and has a restaurant and bar open to non-residents. Tau Tona Lodge is another hotel approximately 5 km from the centre of town it also has accommodation and a restaurant and bar open to non-residents. Less formal accommodation, food and drink is available at Thakadu Camp about 6 km from the centre of town. There are other B&Bs and lodges scattered throughout the town.
                        There are some interesting things to see in Ghanzi. Kuru, which is a charity assisting the San / bushmen has a small shop selling hand made Bushmen crafts. There are few sightseeing spots in Ghanzi - lions are kept in enclosures at the main gate of TauTona. "Ghanzi gat" is a hole that was made while the tar road was being made in Ghanzi, but while using dynamite to break the rock open, the people accidentally opened a water vein. This filled the 40m deep hole with water.
                        <br />
                        <hr />
                        <br />
                        <b>Elevation:</b> 1,156 m<br />
                        <b>District:</b> Ghanzi District<br />
                        <b>Weather:</b> 36°C, Wind NE at 19 km/h, 15% Humidity<br />
                        <b>Population:</b> 12,267 (2011)<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*modal maun*@
<div class="modal" id="modalmaun">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BOTSWANA (MAUN)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59987.10746700345!2d23.383883880545312!3d-20.000361810359358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19544d054c080299%3A0xad7cc125ed822f4b!2sMaun%2C+Botswana!5e0!3m2!1sen!2sng!4v1544784535592" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Maun is a town on the Thamalakane River in northern Botswana. It's the jumping-off point for the vast inland Okavango Delta, which becomes a lush wildlife habitat during the seasonal floods. In the delta, safari camps dot the Moremi Game Reserve, which is home to hippos, lions and rhinos. In the town, the Nhabe Museum features local art, plus history and culture exhibits about the surrounding Ngamiland region.
                        <br />
                        <hr />
                        <br />
                        <b>Elevation:</b> 927 m<br />
                        <b>Weather:</b> 37°C, Wind E at 14 km/h, 18% Humidity<br />
                        <b>Population:</b> 55,784 (2011)<br />
                        <b>Local time:</b> Friday 12:46 pm<br />
                        <b>Number of airports:</b> 1<br />
                        <b>ISO 3166 code:</b> North-West District<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal kasane*@
<div class="modal" id="modalkasane">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BOTSWANA (KASANE)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60777.16812729293!2d25.138295271868646!3d-17.811753833244232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x195a9dc0331a2e35%3A0x23f9e2c759c3bc2e!2sKasane%2C+Botswana!5e0!3m2!1sen!2sng!4v1544785547641" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Kasane is a town in the northeastern corner of Botswana, near the borders with Namibia, Zambia and Zimbabwe. It's the gateway to Chobe National Park, known for the herds of elephants which converge on the Chobe River in the dry season. Caracal Biodiversity Center shelters rescued wildlife. The Chobe Crocodile Farm is nearby. East of town, the Kazungula Ferry crosses the Zambezi River, connecting to Zambia
                        <br />
                        <hr />
                        <br />
                        <b>Weather:</b>36°C, Wind E at 21 km/h, 16% Humidity<br />
                        <b>Climate:</b> BSh<br />
                        <b>Local time:</b> Friday 12:50 pm<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modal gonaz*@
<div class="modal" id="modalgonaz">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE (GONAREZHOU)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2201435.9010088556!2d30.080060604798344!3d-22.508894805032195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ed02039cd5d6dd5%3A0xdcd00aec30534e1a!2sSouth+Gonarezhou+National+Park%2C+Zimbabwe!5e0!3m2!1sen!2sng!4v1544785740604" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        It is the second largest in Zimbabwe after Hwange. It was established in 1925 and covers 5063 square km. It forms part of the Great Limpopo Tran frontier Park together with Kruger National Park of South Africa and Limpopo National Park of Mozambique. It is well known for the big herds of elephants and big baobab trees.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modal MANA POOLS*@
<div class="modal" id="modalmanapools">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE (MANA POOLS)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15345.853617660847!2d29.4569938!3d-15.9371586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaf879597e0dd579!2sMana+Pools+National+Park!5e0!3m2!1sen!2sng!4v1544786016815" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Being a UNESCO world heritage site and a wildlife conversation area, Mana pools is very pools are a very popular for close encounters with big game. It is situated downstream from Kariba on the southern banks of the Zambezi River. Major highlands of the area are abundant game hence game drives, canoeing and walking safaris are the main activity in the area. Available accommodation ranges from camp sites to exclusive Safari camps.
                        <br />
                        <hr />
                        <b>Address:</b> Zimbabwe<br />
                        <b>Designated as world heritage site:</b> 3 May 2013<br />
                        <b>Phone:</b> +263 4 706 077<br />
                        <b>Area:</b> 676,600 ha (1,672,000 acres)<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*modal matopos*@
<div class="modal" id="modalmatopos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE (MATOPOS)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14943.018111275076!2d28.5125!3d-20.5572222!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5428ca31d2bdfbb0!2sMatobo+National+Park!5e0!3m2!1sen!2sng!4v1544786693920" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        It is a UNESCO world heritage site covering about 424 square km. It was established in 1926 hence it is the oldest national park in the country. The park’s distinctive rock formation is unique and inspiring. A rich cultural landscape with a long traditional of human inhabitation is recorded in its wealth of creative art. More recent associations with Ndebele kings and colonial figure heads make the park an interactive history lesson, a place of contemplation and spiritual renewal. Most highlights of this park include the rhino, Rhode’s grave, bushman paintings and boulders. Nearest airport (BUQ) 55km
                        <br />
                        <hr />
                        <b>Address:</b> Zimbabwe<br />
                        <b>Area:</b> 424 km²<br />
                        <b>Established: 1926</b><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*modal kariba*@
<div class="modal" id="modalkariba">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE (KARIBA DAM)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15300.31616480157!2d28.7616692!3d-16.5221068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85617dace7f0b612!2sKariba+Dam!5e0!3m2!1sen!2sng!4v1544788140654" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        It was created by the construction of the Kariba dam wall which was completed in 1958. It is the biggest manmade lake in Africa stretching for about 258km and 40km at its widest point. The dam wall itself is a magnificent piece of architecture. Things to do include boat cruising, game drives and fishing. Hotels , lodges, house boats and campsites provide accommodation to visitors. Nearest airport – (HRE) 365km.
                        <br />
                        <hr />
                        <b>Address:</b> Zambia<br />
                        <b>Opened:</b> 1959<br />
                        <b>Area:</b> 5,400 km²<br />
                        <b>Height:</b> 128 m<br />
                        <b>Length:</b> 579 m (1,900 ft)<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*modal easternhighlands*@
<div class="modal" id="modaleasternhighlands">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE<br />(THE EASTERN HIGHLANDS)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30229.465136676212!2d32.82449037630772!3d-18.722998836637444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x192c8ec4adf12ca3%3A0x983d4e461596971b!2sEastern+Highlands!5e0!3m2!1sen!2sng!4v1544788464972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        Running some 300 km from north to south along Zimbabwe’s eastern border with Mozambique, the eastern highlands region beautiful landscapes of rolling hills and rugged mountains with breathe taking valleys, waterfalls and rivers. With its refreshing mountain climate, the core regions of Vumba, Chimanimani and Nyanga are popular tourist retreats. The major highlights of this region are
                        <ul style="padding:10px!important;font-size:12px;font-weight:300">
                            <li>The 762m high Mutarazi falls</li>
                            <li>The inyangani mountains which are tallest in Zimbabwe</li>
                            <li>The world’s view</li>
                            <li>The Hande view</li>
                        </ul>
                        The main activities available are the scenic drives, trout fishing, golf and mountain climbing as well as horse riding. Nearest airport - (HRE) + 270km.

                        <br />
                        <hr />
                        <b>300-km-long mountain range with forest & grassland, a well-known destination for hiking & fishing.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal great zimbabwe*@
<div class="modal" id="modalgreatzim">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE (THE GREAT ZIMBABWE)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1917838.3679948072!2d28.558699509562416!3d-20.143304632725407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ecd0184c6f4ef7f%3A0xe92c1ec6afc766a0!2sGreat+Zimbabwe+National+Monument!5e0!3m2!1sen!2sng!4v1544789078421" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        The Great Zimbabwe ruins, now a UNESCO world heritage is evident of a burgeoning African civilisation which flourished long before the arrival of white settlers. It was home to more than 2000 Shona speaking people of the Rozvi clan 12th to 15th centuries. It is an enchanting place, redolent with history even if the history has been misinterpreted. Early archaeological and historical thinking that the walls of this Medieval Palace hid a Hodge of gold and diamond treasure and that the walls had been designed as a fortress has now been replaced by the great belief that Great Zimbabwe was built simply as a tribute to the power and authority of the rulers of the time. Zimbabwe’s oldest city established in 1890 as Fort Victoria and now Masvingo is the nearest to these ruins. It is from these ruins that this country derived its name. Nearest Airports – Bulawayo (BYO) and Harare (HRE) that are both slightly above 300km away.
                        <br />
                        <hr />
                        <b>Location:</b> Masvingo Province, Zimbabwe<br />
                        <b>Periods:</b> Late Iron Age<br />
                        <b>Part of:</b> Kingdom of Zimbabwe<br />
                        <b>Founded:</b> 11th century<br />
                        <b>Abandoned:</b> 15th century<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal hwange*@
<div class="modal" id="modalhwange">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE<br />(HWANGE NATIONAL PARK)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d965024.2708018309!2d26.5925913!3d-19.1240539!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2c8ed450678b04df!2sHwange+National+Park!5e0!3m2!1sen!2sng!4v1544789291485" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        It is Zimbabwe’s biggest national park with a total area of about 14651 square km which is about the size of Belgium It was declared a game reserve in 1928 and then a national park in 1961. It is home to more than 110 mammals including the big five and 400 species of birds. Various types of accommodation ranging from tents to luxury safari camps are available in the park. Different Safari companies offer game drives in this park although self drives are also permitted. The Hwange is about 200km from Victoria Falls and 235km from Bulawayo. This is truly a place o go if game viewing is one of your hobbies. Nearest airport is VFA (180km).
                        <br />
                        <hr />
                        <b>Address:</b> Zimbabwe<br />
                        <b>Area:</b> 14,651 km²<br />
                        <b>Established:</b> 1930<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal vic falls*@
<div class="modal" id="modalvicfalls">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ZIMBABWE<br />(VICTORIA FALLS)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30368.081270102488!2d25.809228875553263!3d-17.931680116280546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x194fe53f0d97964b%3A0xb5064359416ab317!2sVictoria+Falls%2C+Zimbabwe!5e0!3m2!1sen!2sng!4v1544789846148" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 jus">
                        It is one of the seven natural wonders of the world. As well as a UNESCO hworld heritage site. It is about 1300km downstream from the source of the Zambezi River in the Kalene hills. Different parts called Devil’s Cataract (90m), main falls (95m),Rainbow falls (108m) and the Eastern cataract (107) from the whole 1.7 km stretch of the fall. It is an amazing must see feature, no wonder why David Livingstone said “must have been gazed by the angels in their flight” When he saw the falls for the first time in November 1855. A variety of activities such as river cruising, Helicopter flights, elephant riding, walking with lions, bunji jumping, rafting, canoeing and a lot more are available. No wonder why it is the undisputed adventure capital of Africa. It is the most visited Zimbabwe’s attraction. Nearest airport – Victoria Falls (VFA) 21 km
                        <br />
                        <hr />
                        <b>Weather:</b> 34°C, Wind E at 19 km/h, 23% Humidity<br />
                        <b>District:</b> Hwange<br />
                        <b>Province:</b> Matabeleland North Province<br />
                        <b>Climate:</b> BSh<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>