<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

<head>
    <title>Update The Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<br />
<br />
<br />
<div class="container">
    <center>
        <h1>Your using an outdated browser or Internet explorer</h1>
        <h2>Update your browser to enhance your browsing experience</h2>
    </center>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <center>
                <a href="https://www.google.com/chrome">
                    <img src="~/assets/img/icon_chrome.jpg" height="100" width="100" style="margin:auto;" />
                </a>
                <br />
                <br />
                <p style="padding:20px;background:rgba(0,255,0,0.1);font-size:20px;width:220px;">Google Chrome</p>
            </center>
        </div>

        <div class="col-md-4">
            <center>
                <a href="https://www.firefox.com/">
                    <img src="~/assets/img/icon_firefox.jpg" height="100" width="100" />
                </a>
                <br />
                <br />
                <p style="padding:20px;background:rgba(0,255,0,0.1);font-size:20px;width:220px;">Mozilla Firefox</p>
            </center>
        </div>

        <div class="col-md-4">
            <center>
                <a href="https://www.opera.com/">
                    <img src="~/assets/img/icon_opera.png" height="100" width="100" />
                </a>
                <br />
                <br />
                <p style="padding:20px;background:rgba(0,255,0,0.1);font-size:20px;width:220px;">Opera</p>
            </center>
        </div>

    </div>
</div>