@{ Layout = "_Layout";}


<div class="container">
  
    <div class="row">
        <div class="col-md-12 description fade-in zero">
            Our vehicles are all serviced and maintained at workshops in the countries we visit. All of our vehicles are not air conditioned and but well maintained to give the best of a safe and enjoyable ride. Our drivers are trained to attend to any minor mechanical problems that may be experienced along the way and as such it is rare for a trip to be delayed due to mechanical breakdown.
        </div>
    </div>

</div>
