@{Layout = "_Layout";}

<link href="~/assets/css/spinning_card.css" rel="stylesheet" />

<br />
<br />

<style>
    .des_ {
        padding: 20px;
        text-align: center;
        color: #000;
    }

    .stext {
        font-size: 10px !important;
        overflow-y: auto;
        height: 150px !important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h1>Virtual tours </h1>
                <h3>Select an option and experiance the virtual tour</h3>
                <small>
                    Our specialised tailor made department can pretty much cater to any requirement you may have and can assist you to put together a dream holiday of a lifetime, whatever your budget. Our extensive experience ensures we have access to a variety of options.
                    Our experience and expertise in Africa allows us to be able to create unique group tours for any number of travellers. We regularly do this for both private individuals and companies
                </small>
            </center>
        </div>@*col-md-12*@
    </div>@*row*@
</div>@*container*@

<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/img/vicfalls.jpg" class="fimage" />
                                <br />
                                <div class="des_">
                                    Victoria Falls to Victoria Falls
                                    <br />
                                    (20 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header">Victoria Falls to Victoria Falls</div>
                                    <div class="card-body stext">
                                        Our signature and most popular tour, the accommodated / camping to Victoria Falls 20 day tour, highlights Zimbabwe’s most incredible sights. We set off to the Hwange National Park for game walks and game drives. From Hwange National park we depart to Matopos National Park in the second largest town of Zimbabwe. We will spend 2 days there. From Matopos, we visit Gweru Antelope Park for a wide range of activities. We prepare again for another travel to Masvingo for the Great Zimbabwe ruins after which we then visit the capital of Zimbabwe, Harare. As the morning breaks, we make our way to the Chinhoyi Caves. With the fresh memories of the caves, we travel to Kariba for a cruise which will take you to the next city, Binga. There we pick you up and we head off back to Victoria Falls.
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/VictoriaFallsToVictoriaFalls">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/img/bestofzimbabwe2.jpg" class="fimage" />
                                <br />
                                <div class="des_">
                                    Best of Zimbabwe
                                    <br />
                                    (7 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header">Best of Zimbabwe</div>
                                    <div class="card-body stext">
                                        super charged, fun packed variety activities on offer in the town of  Victoria Falls
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/BestOfZimbabwe">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/ChokeAndOkavanmgoDelta/okavango.png" class="fimage" />
                                <br />
                                <div class="des_">
                                    Victoria Falls, Chobe and Okavango delta experience
                                    <br />
                                    (10 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header" style="font-size:10px!important;">Victoria Falls, Chobe and Okavango delta experience</div>
                                    <div class="card-body stext">
                                        Various activities are on offer. Those staying longer can choose from various activities and excursions, including white water rafting, canoeing and flying fox rides. For an incredible scenic helicopter flight, the only Africaconnect-endorsed operator. Your leader can help you arrange this.
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/ChokeAndOkavanmgoDelta">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/ZimbabweAndZambia/zimzambia.png" class="fimage" />
                                <br />
                                <div class="des_">
                                    Zimbabwe and Zambia Tour
                                    <br />
                                    (4 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header">Zimbabwe and Zambia Tour</div>
                                    <div class="card-body stext">
                                        View & walk the length of a Natural Wonder of the World-Victoria Falls-the ‘smoke that thunders’,wander the markets & handicrafts.
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/ZimbabweAndZambia">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>@*mymosaic*@
        </div>@*cards container*@
    </div>@*col-md-12*@
</div>@*row*@


<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/zimbotsnamibia/zimbotsnamib.jpg" class="fimage" />
                                <br />
                                <div class="des_">
                                    Zimbabwe, Botswana and Namibia
                                    <br />
                                    (12 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header"  style="font-size:13px!important;">Zimbabwe, Botswana and Namibia</div>
                                    <div class="card-body stext">
                                        Once picked from the airport, excellent optional activities include a boat cruise along the Zambezi, morning and afternoon game drives, or walks in the Zambezi National Park are on offer. You might also choose an awe-inspiring helicopter flight over the Falls and the Zambezi Gorges.
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/ZImbotsNamibia">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/Namibia2/namibia2.png" class="fimage" />
                                <br />
                                <div class="des_">
                                    Namibia 2
                                    <br />
                                    (11 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header">Namibia 2</div>
                                    <div class="card-body stext">
                                        View & walk the length of a Natural Wonder of the World-Victoria Falls-the ‘smoke that thunders’;visit a village and lunch with the locals
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/Namibia2">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/bestOfZimbabweAndKrugar/balance.jpg" class="fimage" />
                                <br />
                                <div class="des_">
                                    Best of Zimbabwe and Kruger
                                    <br />
                                    (9 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header" style="font-size:15px!important;">Best of Zimbabwe and Kruger</div>
                                    <div class="card-body stext">
                                        This morning we leave the rumble and adventure of Victoria Falls behind us as we make the journey south to Hwange National Park. After lunch we spend the afternoon exploring Hwange National Park in open game-viewing vehicles. Hwange is the largest of Zimbabwe’s national parks and offers excellent opportunities for viewing the diversity of wildlife that calls the park home. We return to camp this evening and enjoy dinner around our campfire.
                                        route
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/BestOfZimbabweAndKrugar">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 mx-auto">
                    <div class="card-container">
                        <div class="card_">
                            <div class="front">
                                <img src="~/assets/VirtualTourLibs/CampingTour/camping.jpg" class="fimage" />
                                <br />
                                <div class="des_">
                                    Camping Tour
                                    <br />
                                    (4 Days)
                                </div>
                            </div>
                            <div class="back">
                                <div class="card">
                                    <div class="card-header">Camping Tour </div>
                                    <div class="card-body stext">
                                        In the town of Victoria Falls you will have to experience the sight and sound of the mighty falls. This thundering curtain of water is about a mile wide, falling 108 metres into a narrow gorge below. In the wet season, the spray created can rise up an incredible 400 metres and the falls become an impressive raging torrent. In the dry season the view of the falls is unobstructed by the spray and you can see little islets in the river bellow.
                                        Your Campsite tonight has Wi-Fi, an ATM and optional upgrades.Your tour leader will take you to a local activity centre where a range of activities will be on offer.
                                    </div>
                                    <div class="card-footer">
                                        <center>
                                            <a href="/virtualTour/CampingTour">View Tour</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
    <br />
    <br />
    <br />

